table {
    border: 1px solid;
}



    .home6 {
        background-color: cadetblue;
    }

    .home1:hover {
        background-color: rgb(0, 0, 0);
    }

    .home2:hover {
        background-color: rgb(0, 0, 0);
    }

    .home3:hover {
        background-color: rgb(0, 0, 0);
    }

    .home4:hover {
        background-color: rgb(0, 0, 0);
    }

    .home5:hover {
        background-color: rgb(0, 0, 0);
    }

    .home6:hover {
        background-color: rgb(0, 0, 0);
    }
    
    tr:nth-child(even) td {
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    tr:nth-child(odd) td {
        background-color: rgba(255, 255, 255, 0.1);
    }
    
    td:first-child {
        background-color: blue;
    }
    
    td:nth-child(2) {
        color: rgb(248, 16, 16);
    }

    td:nth-child(-n+1) {
        color: pink;
    }