div :first-child {
    color: pink;
}
#greycol {
    color: grey;
}

.yellow {
    color: yellow;
}

.text-box div > p {
    color: red;
    }

    .text-box p:nth-last-child(2) {
        color:  green
        }